@charset "UFT-8";

:root {
  --main-color: #434343;
  --accent-color: #BF6A7A;
  --dark-color: #2B5566;
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-back-color: #ddd;
  --side-bar: #b8b8b8;
  --large-width: 960px;
  --padding-top: 10%;
  --padding-left: 8%;
  
}

body {
  margin: 0;
}
.top_image {
  height: 60vh;
  background-image: url(../img/main_03.png);
  background-position: center;
  background-size: cover;
}

// 右左の合わせたコンテナ
.main_container {
  width: 100vw;
  max-width: var(--large-width);
  margin: 0  auto;
  display: flex;
  background-color: var(--main-color);
  // 左サイドメニュー
  .left_container {
    width: 200px;
    height: 100vh;
    background-color: var(--side-bar);
    // 左サイドメニューコンテンツ
    .left_contents {
      margin-top: 5px;
      width: 170px;
      padding: 15px;
      img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
        border: solid black 1px;
        border-bottom: none;
      }
      .text {
        width: 100%;
        border: solid black 1px;
        background-color: var(--text-bright-color);

        h1 {
          margin: 0;
          padding-left: 5px;
          padding-top: 5px;
          font-size: 16px;
        }
        p {
          margin: 0;
          font-size: 12px;
          font-weight: bold;
          text-align: end;
          padding-right: 5px;
          padding-top: 5px;
        }
      }
    }
  }
  // 右メインコンテンツ
  .right_container {
    width: calc(100% - 200px);
    height: 100%;
    background-color: var(--dark-color);
    // 画像集
    .image_corection {
      padding-top: 10%;
      padding-left: 8%;
      padding-bottom: 3%;
      width: calc(100% - 8%);
      aspect-ratio: 10/4;
      .img {
        display: block;
        object-fit: cover;
        float: left;
      }
      .image1 {
        width: 40%;
        height: 100%;
        object-position: 50% 30%;
      }
      .image2 {
        width: 60%;
        height: 50%;
        object-position: 50% 83%;
      }
      .image3 {
        width: 30%;
        height: 50%;
      }
      .image4 {
        width: 30%;
        height: 50%;
      }
    }
    // YouTube
    .YouTube {
      padding-top: 10%;
      padding-left: 8%;
      padding-bottom: 3%;
      width: calc(100% - 8%);
      .youtube_image {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
    // 新着情報
    .news {
      padding-top: 10%;
      padding-bottom: 3%;
      .news_container {
        display: flex;
        align-items: center;
        background-color: var(--main-color);
        padding: 5% 0;
        color: var(--text-bright-color);
        .news_title {
          width: 22%;
          padding-left: 8%;
          display: inline-block;
          position: relative;
        }
        .news_title::before {
          content: '';
          position: absolute;
          // left: 50%;
          bottom: -7px;/*線の上下位置*/
          display: inline-block;
          width: 30px;/*線の長さ*/
          height: 3px;/*線の太さ*/
          // -webkit-transform: translateX(-50%);
          // transform: translateX(-50%);/*位置調整*/
          background-color: var(--text-bright-color);/*線の色*/
          // border-radius: 2px;/*線の丸み*/
          margin-left: 18px;
        }
        ul {
          width: 62%;
          padding-left: 8%;
          margin: 0;
          border-left: solid var(--text-bright-color) 3px;
          li {
            margin-top: 3%;
            margin-bottom: 3%;
          }
        }
      }
    }
  }
}
